@font-face {
    font-family: "crystal";
    src: url("../images/ShookenDemo.ttf");
}

@font-face {
    font-family: "glitter";
    src: url("../images/The Road Ahead.otf");
}

body {
    background: url("../images/crystals.jpg");
}

.header {
    font-family: glitter;
    font-size: 225px;
    font-weight: bold;
    text-shadow: 10px 10px rgb(156, 240, 232); 
    color: black;
    text-align: center;
}

.rules {
    font-family: glitter;
    font-size: 30px;
    color:black;
    text-align: center;
    background-color: rgb(31, 174, 160);
    border: 10px white double;
    margin-right: 10px;
}

.randomNumber {
    margin-left: 10px;
    font-family: glitter;
    font-size: 50px;
    text-align: center;
    background-color: rgb(150, 75, 182);
    color: black;
    border: 10px double white;
}

.scores {
    margin-left: 10px;
    font-family: glitter;
    font-size: 50px;
    text-align: center;
    background-color: rgb(150, 75, 182);
    border: 10px white double;
    color: black;
}

.crystals {
    text-align: center;
    padding-top: 50px;
}

.score2 {
    font-family: glitter;
    text-align: center;
    font-size: 50px;
    background-color: rgb(237, 151, 202);
    border: 10px white double;
    width: 50%;
    margin: auto;
}