@font-face {
    font-family: "guardians";
    src: url("../images/Guardians.ttf");
}

@font-face {
    font-family: "header";
    src: url("../images/JennaSue.ttf");
}

body {
    background: url("../images/guardians\ background.jpg");
}

#small {
    font-family: guardians;
    font-size: 50px;
    color: rgb(210, 205, 205);
    text-shadow: 10px 10px black;
    padding-bottom: 10px;
}

.header {
    font-family: guardians;
    font-size: 100px;
    color: rgb(210, 205, 205);
    text-shadow: 10px 10px black;
    text-align: center;
}

.smallHeader {
    font-family: header;
    font-size: 80px;
    color: yellow;
    text-shadow: 2px 2px black;
    text-align: center;
    padding-left: 625px;
    margin-top: -50px;
    margin-bottom: -50px;

}

.rules {
    font-family: guardians;
    font-size: 20px;
    color: rgb(210, 205, 205);
    text-align: center;
    border: 7px white dotted;
    margin-right: 10px;
}

.randomNumber {
    margin-left: 10px;
    font-family: guardians;
    font-size: 35px;
    text-align: center;
    color: rgb(210, 205, 205);
    border: 7px dotted white;
}

.scores {
    margin-left: 10px;
    font-family: guardians;
    font-size: 35px;
    text-align: center;
    border: 7px white dotted;
    color: rgb(210, 205, 205);
}

#stones {
    text-align: center;
    padding-top: 50px;
}

.score2 {
    font-family: guardians;
    text-align: center;
    font-size: 35px;
    border: 7px white dotted;
    width: 50%;
    margin: auto;
    color: rgb(210, 205, 205);
}

.stones-image {
    padding: 0px 20px 0px 20px;
    height: auto;
    width: 200px;
  }